input[type=button] {
    
    background-color: transparent;
    color: black;
    padding:0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 600;
    width: 90%;
    border: solid rgba(96, 97, 97, 0.411);
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(68, 66, 66, 0.2), 0 6px 20px 0 rgba(44, 43, 43, 0.19);
}
button{
    background-color: transparent;
    color: black;
    padding:0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 600;
    width: 90%;
    border: solid rgba(96, 97, 97, 0.411);
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(68, 66, 66, 0.2), 0 6px 20px 0 rgba(44, 43, 43, 0.19);
}

input[type=text] {
    background-color: transparent;
    color: black;
    padding:0;
    font-family: "Comic Sans MS", cursive, sans-serif; 
    font-weight: 600;
    width: 90%;
    border: solid rgba(112, 77, 103, 0.411);
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(83, 42, 71, 0.2), 0 6px 20px 0 rgba(44, 43, 43, 0.19);
}

body {
    
    background: url(https://i.pinimg.com/originals/c6/6e/c3/c66ec39686c08f615782af5fb093ad61.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

p{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 2em;
    color: black;
}
.noteInput{
    width: 10%;
    height: 500px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/616/914/non_2x/blank-lined-copy-book-sheet-with-torn-edge-mockup-or-template-of-graph-notepad-page-for-yor-text-vector.jpg);
    background-position: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 20px;
    margin: 10px 5px;
    box-sizing: content-box;
    border: 4px solid #704f65;
    border-radius: 10px;
}
.classNote {
    position: absolute;
    top: 0px; left: 900px;
    
}